<article>
  <a href="/dashboard" class=""> &larr; Back to Dashboard</a>
  <h2 class="title mt-6 text-center text-4xl">Edit Blog Post</h2><hr>
  <form class="edit-blog-form text-center">
    <div class="mt-24 text-center font-bold">
        <label for="blog-title font-bold">Blog Title:</label>
      <input class="input" name="blog-title" type="text" value="{{blog.title}}" />
    </div>
    <div class="font-bold">
        <label for="blog-content font-bold">Blog Content:</label>
      <input class="textarea" name="blog-content" type="text" value="{{blog.blog_content}}" />
    </div>
    <div class="">
       Created by you on {{format_date blog.created_at}}
      |
      <a href="/blog/{{blog.id}}">{{blog.comments.length}} {{format_plural "comment" blog.comments.length}}</a>
    </div>
    <button type="submit" class="button bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Save Blog</button>
    <button type="button" class="button delete-blog-btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete Blog</button>
  </form>
</article>

{{> comments blog.comments}}

<script src="/js/edit-blog.js"></script>
<script src="/js/delete-blog.js"></script>
<script src="/js/comment.js"></script>